<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Peter T. Brown</string>
	<key>Builder Version</key>
	<string>9537.75.14</string>
	<key>CFBundleDisplayName</key>
	<string>Fetching.io</string>
	<key>CFBundleIdentifier</key>
	<string>io.fetching</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>html/global.html</string>
		<key>Popovers</key>
		<array>
			<dict>
				<key>Filename</key>
				<string>html/popover.html</string>
				<key>Height</key>
				<real>250</real>
				<key>Identifier</key>
				<string>popover</string>
				<key>Width</key>
				<real>250</real>
			</dict>
		</array>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>bookmark</string>
				<key>Identifier</key>
				<string>fetching</string>
				<key>Image</key>
				<string>star-empty.png</string>
				<key>Label</key>
				<string>Fetching</string>
				<key>Popover</key>
				<string>popover</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>javascripts/main.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Never lose track of a website you've visited again.</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>http://fetching.io</string>
</dict>
</plist>
