<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Key</key>
		<string>accessToken</string>
		<key>Secure</key>
		<true/>
		<key>Title</key>
		<string>Access Token</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>http://localhost:3000</string>
		<key>Key</key>
		<string>host</string>
		<key>Secure</key>
		<true/>
		<key>Title</key>
		<string>Host</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
</array>
</plist>
